html,
body {
  height: 100%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  color: #777777;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 36px;
  color: #4aaaa5;
  overflow: auto;
}

img {
  width: 250px;
  height: 200px;
  padding: 10px;
}

.navbar.navbar-light.bg-light {
  background: #ffffff !important;
  border-bottom: 2px solid #cccccc;
}

.navbar-text {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  padding: 10px;
  margin-left: 10%;
  background: #4aaaa5;
  color: white !important;
}

.navbar-brand {
  float: right;
  padding: 0px;
  margin: 0px;
}

.paragraph {
  padding-top: 20px;
}

.back-section {
  background-image: url(../images/background.jpg);
  border: solid white;
}

.jumbotron {
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  background: #ffffff !important;
  border: 2px solid #dddddd;
}

.img-txt {
  position: absolute;
  bottom: 11px;
  left: 40px;
  width: 30%;
  background: #4aaaa5;
  color: white;
}

#input-msg {
  height: 150px;;
}

#submit-btn {
  background: #4aaaa5;
}

#sticky-footer {
  flex-shrink: none;
  background: #666666 !important;
  border-top: 5px solid #4aaaa5;;
}